*{
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}

/* hero image */
.heroImage{
 background-image: url("photos/pokeforest.jpeg");

 background-size: cover;
 background-position: center;
 height: 100vh;


 display: flex;
justify-content: center;
align-items: center;
text-align: center;


}

#heroTitle{
font-size: 100px;
color: white;
font-family: 'Josefin Sans', sans-serif;
line-height: 1.1;


}

/* enter button */
#enterButton{
    
    color: #fcd52c;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}
#enterButton:hover {
    text-decoration: underline;
  }

